/* All pages - Begin */

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: auto;
}

.row-half-size {
    max-width: 50%;
}

body {
    background: #fff4e9;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #1c1f33;
}

h1 {
    font-weight: 700;
    font-size: 7.5rem;
    line-height: 1;
    color: #af42ae;
}

h2 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 1.2;
    text-align: center;
    color: #af42ae;
}

h3 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    color: #af42ae;
}

p {
    line-height: 1.5;
    align-self: center;
}

.bold__description {
    font-weight: 600;
}

body .button__purple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    align-self: center;
    color: white;
    background: #af42ae;
    border-radius: 20px;
    padding: 16px 30px;
    column-gap: 8px;
    max-width: fit-content;
}

/* All pages - end */

/* header.js (Logo, Name, Navbar) - BEGIN */

body .header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background: #fff4e9;
}

body .logo {
    display: flex;
    height: 100%;
}

body .brand {
    display: flex;
    align-items: center;
}

body .header__name {
    display: center;
    align-items: left;
    font-weight: 500;
    font-size: 1.875rem;
    padding-left: 10px;
}

/* header.js - Navbar which includes the buttons for Works, About, Contact, Resume */
body .header__nav {
    justify-items: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    font-size: 1rem;

    padding: 10px;
}

/*  "Works" dropdown */

.works__dropdown-btn {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    justify-content: space-between;
    font-size: 1rem;
    text-align: center;
    padding: 10px;

    border-radius: 20px;
    transition: 0.1s ease-out;
}

.works__dropdown-content {
    display: none;
    position: absolute;
    top: 80%;
    z-index: 1;
    opacity: 100%;
    transition: 0.1s ease-out;
    background: #e6dcd2; /*#fff4e9;*/
    padding: 5px;
    padding-bottom: 10px;
    gap: 20px;
    border-radius: 10px;
    border-color: #000000;
}

.works__dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: 0.1s ease-out;
}

.works__dropdown-content a:hover {
    color: #af42ae;
}

/* Contact dropdown button and content */

.header__contact {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

.contact__dropdown-btn {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    column-gap: 8px;

    text-align: center;
    color: #af42ae;

    border: 1px solid #af42ae;
    border-radius: 20px;
}

.contact__dropdown-content {
    display: none;
    position: absolute;
    top: 70%;
    z-index: 1;
    opacity: 100%;
    background: #fff4e9;
    padding: 5px;
    padding-bottom: 10px;
    gap: 20px;
    border: 1px solid #af42ae;
    border-top: 0px;
    border-radius: 0px 0px 20px 20px;
    transition: all 3s ease-in-out;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.contact__dropdown-content a {
    color: #af42ae;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: 0.1s ease-out;
}

.contact__dropdown-link a:hover {
    color: black;
}

body .header__about {
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    font-size: 1rem;
    text-align: center;

    width: 78px;
    height: 30px;

    border-radius: 20px;
}

/* header.js Navbar (Logo, Name, Navbar) - END */

/* index.js - Homepage - BEGIN */

.intro {
    display: flex;
    padding: 100px 100px 100px 100px;
    gap: 50px;
}

.intro__heading {
    width: 60%;
}

.intro__text {
    font-weight: 500;
    font-size: 1.875rem;
    display: flex;
}

.intro__image {
    max-width: 400px;
    max-height: auto;
    object-fit: scale-down;
}

/* index.js - Homgepage - Recent Works - Begin */

.recent-works {
    background: radial-gradient(73.03% 73.03% at 50% 50%, #af42ae 0%, #a8aec1 0%, #e8dbc5 83%);
    padding: 100px 100px 100px 100px;
}

.recent-works__heading {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.25;
    text-align: left;
    color: #1c1f33;
}

.recent-works__text {
    font-size: 1.25rem;
}

.recent-works__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
}

.recent-works__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    gap: 100px;

    background: #fff4e9;

    border-width: 0px 8px 8px 0px;
    border-style: solid;
    border-color: #e8dbc5;
    border-radius: 10px;
}

.recent-works__project {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
}

.recent-works__img {
    max-width: 340px;
    max-height: 241px;
    border-radius: 10px;
}

.contact {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.contact__heading {
    text-align: left;
}

.contact__text {
    font-weight: 500;
    font-size: 1.875rem;
}

.contact__btns {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

body .contact__email-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    gap: 8px;
    background: #af42ae;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff4e9;
}

body .contact__linkedin-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    gap: 8px;
    border: 1px solid #af42ae;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    color: #af42ae;
}

/* index.js - Home - END */

/* about.js - Begin */

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
    gap: 40px;

    background: #e8dbc5;
}

.values__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.values__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.values__text {
    font-size: 1.25rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 40px;
    background: radial-gradient(73.03% 73.03% at 50% 50%, #af42ae 0%, #a8aec1 0%, #e8dbc5 83%);
}

.testimonial {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 100px;
    gap: 20px;

    background: #fff4e9;
    border-width: 0px 8px 8px 0px;
    border-style: solid;
    border-color: #866386;
    border-radius: 10px;
}

.testimonial__text {
    font-size: 1.25rem;
}

.testimonial__author {
    font-weight: 600;
    color: #000000;
}

/* about.js - End */

/* <project>.js - Begin */

/* All <h2> on all project pages */
.project__title {
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    color: #af42ae;
    text-align: center;
}

/* All <body class="project"/> on all project pages */
body.project section,
.project__column {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

body.project ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    list-style-position: inside;
}

.project__text-small {
    font-size: 1rem;
}

.project__image {
    width: 100%;
}

.project-brief__role {
    display: table;
    align-items: center;
    width: 100%;
    border-spacing: 20px;
}

.project-brief__title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #af42ae;
}

.project-brief__role-item {
    text-align: center;
    border: 1px solid #e8dbc5;
}

.project-brief__image-description {
    font-size: 1.25rem;
}

.project-metrics__overview {
    display: table;
    align-items: center;
    border-spacing: 20px;
    background: #1c1f33;
    padding: 80px 100px;
    gap: 33px;
}

.project-metrics__title {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: #fff4e9;
}

.project-metrics__description {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #fff4e9;
}

.problem__summary {
    display: table;
    border-spacing: 10px;
}

.problem__row td {
    font-size: 1rem;

    border: 1px solid #e8dbc5;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;

    padding: 25px 50px;
    gap: 10px;
}

.hero__image {
    flex: 0 0 40%;
    max-width: 100%;
    height: auto;
    margin-left: 100px;
}

.phone-radius {
    border-radius: 50px;
}

/* <project>.js - End */

/* footer.js - begin */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;

    width: 100%;
    height: 86px;
    background: #1c1f33;

    font-weight: 500;
    font-size: 30px;
    text-align: center;

    color: #fff4e9;
}

.footer__brand {
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
}

.footer__name {
    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
    color: #fff4e9;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

/* footer.js - end */

/* actions - on:hover , etc */
body .works__dropdown-link:hover {
    color: #af42ae;
}

body .contact__email-btn:hover,
.button__purple:hover {
    background: #8c358b;
}

body .contact__linkedin-btn:hover,
.contact__dropdown-btn:hover {
    background: #e6dcd2;
}

body .footer__email:hover,
.footer__linkedin:hover {
    opacity: 80%;
}

.header__works:hover {
    opacity: 100%;
}

.header__works-bag:hover {
    fill: #8c358b;
}

/* actions - end */
