/* All pages - Begin */

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: auto;
}

.row-half-size {
    max-width: 50%;
}

body {
    background: #fff4e9;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #1c1f33;
}

/* All <body class="project"/> on all project pages */
body.project section,
.project__column {
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 1;
    color: #af42ae;
}

h2 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    color: #af42ae;
}

h3 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
    color: #af42ae;
}

p {
    line-height: 1.5;
    align-self: center;
}

table {
    width: 100%;
    table-layout: fixed;
}

.bold__description {
    font-weight: 600;
}

body .button__purple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    align-self: center;
    color: white;
    background: #af42ae;
    border-radius: 20px;
    padding: 16px 30px;
    column-gap: 8px;
    max-width: fit-content;
}

/* All pages - end */

/* header.js (Logo, Name, Navbar) - BEGIN */

body .header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    background: #fff4e9;
}

body .logo {
    display: flex;
    height: 100%;
}

body .brand {
    display: flex;
    align-items: center;
}

body .header__name {
    display: block;
    text-align: left;
    font-weight: 500;
    font-size: 1.875rem;
    padding-left: 10px;
}

/* header.js - Navbar which includes the buttons for Works, About, Contact, Resume */
body .header__nav {
    justify-items: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    font-size: 1rem;

    padding: 10px;
}

/*  "Works" dropdown */

.works__dropdown-btn {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    justify-content: space-between;
    font-size: 1rem;
    text-align: center;
    padding: 10px;

    border-radius: 20px;
    transition: 0.1s ease-out;
}

.works__dropdown-content {
    display: none;
    position: absolute;
    top: 80%;
    z-index: 1;
    opacity: 100%;
    transition: 0.1s ease-out;
    background: #e6dcd2; /*#fff4e9;*/
    padding: 5px;
    padding-bottom: 10px;
    gap: 20px;
    border-radius: 10px;
    border-color: #000000;
}

.works__dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    transition: 0.1s ease-out;
}

/* Contact dropdown button and content */

.header__contact {
    display: flex;
}

.contact__dropdown-btn {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    width: 182px;
    column-gap: 8px;

    text-align: center;
    color: #af42ae;

    border: 1px solid #af42ae;
    border-radius: 20px;
}

.contact__dropdown-content {
    display: block;
    width: 182px;
    position: absolute;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    top: 75%;
    z-index: 1;
    background: #fff4e9;
    border: 1px solid #af42ae;
    border-top: 0px;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.1s ease-in-out;
}

.contact__dropdown-content a {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 20px;
    color: #af42ae;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.contact__dropdown-content a:hover {
    background: #e6dcd2;
}

.contact__list-item-last {
    border-radius: 0px 0px 20px 20px;
}

body .header__about {
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    font-size: 1rem;
    text-align: center;

    width: 78px;
    height: 30px;

    border-radius: 20px;
}

/* header.js Navbar (Logo, Name, Navbar) - END */

/* index.js - Homepage - BEGIN */

body .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

body.project .intro {
    display: flex;
    align-items: flex-start;
    padding: 100px;
    gap: 50px;
}

.intro__heading {
    width: 60%;
}

.intro__text {
    font-weight: 500;
    font-size: 1.875rem;
    display: flex;
}

.intro__image {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    max-width: 300px;
    width: 40%;
    border-radius: 20px;
    object-fit: scale-down;
}

/* index.js - Homgepage - Recent Works - Begin */

.recent-works {
    background: radial-gradient(73.03% 73.03% at 50% 50%, #af42ae 0%, #a8aec1 0%, #e8dbc5 83%);
    padding: 100px 100px 100px 100px;
}

.recent-works__heading {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.25;
    text-align: left;
    color: #1c1f33;
}

.recent-works__text {
    font-size: 1.25rem;
}

.recent-works__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
}

.recent-works__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 100px;
    gap: 100px;

    background: #fff4e9;

    border-width: 0px 8px 8px 0px;
    border-style: solid;
    border-color: #e8dbc5;
    border-radius: 10px;
}

.recent-works__project {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 50px;
}

.recent-works__img {
    max-width: 340px;
    max-height: 241px;
    border-radius: 10px;
    align-self: center;
}

/* Looks better on mobile but is broken on desktop, img overflows, TODO */
/*
.recent-works__img {
    display: flex;
    flex: 1;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    align-self: center;
}
*/

.contact {
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.contact__heading {
    text-align: left;
}

.contact__text {
    font-weight: 500;
    font-size: 1.875rem;
}

.contact__btns {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

body .contact__email-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    gap: 8px;
    background: #af42ae;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    color: #fff4e9;
}

body .contact__linkedin-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 50px;
    gap: 8px;
    border: 1px solid #af42ae;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    color: #af42ae;
}

/* index.js - Home - END */

/* about.js - Begin */

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
    gap: 40px;

    background: #e8dbc5;
}

.values__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.values__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    gap: 40px;
    background: radial-gradient(73.03% 73.03% at 50% 50%, #af42ae 0%, #a8aec1 0%, #e8dbc5 83%);
}

.testimonial {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 100px;
    gap: 20px;

    background: #fff4e9;
    border-width: 0px 8px 8px 0px;
    border-style: solid;
    border-color: #866386;
    border-radius: 10px;
}

.testimonial__author {
    font-weight: 600;
    color: #000000;
}

/* about.js - End */

/* <project>.js - Begin */

.project__group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

body.project ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    list-style-position: inside;
}

.project__text-small {
    font-size: 1rem;
}

.project__image {
    width: 100%;
}

h2.project-brief__heading {
    text-align: left;
}

.project-brief__role {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.project-brief__role-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.project-brief__title {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #af42ae;
}

.project-brief__image-description {
    text-align: left;
    align-self: flex-start;
}

.project-metrics__overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-spacing: 20px;
    background: #1c1f33;
    padding: 80px 100px;
    gap: 33px;
}

.project-metrics__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.project-metrics__title {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    color: #fff4e9;
}

.project-metrics__description {
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    vertical-align: top;
    color: #fff4e9;
}

.problem__group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.problem__item {
    font-size: 1rem;
    border: 1px solid #e8dbc5;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 25px 50px;
}

.hero__image {
    flex: 0 0 40%;
    max-width: 100%;
    height: auto;
}

.phone-radius {
    border-radius: 50px;
}

/* <project>.js - End */

/* footer.js - begin */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 60px;

    width: 100%;
    height: 86px;
    background: #1c1f33;

    font-weight: 500;
    font-size: 30px;
    text-align: center;

    color: #fff4e9;
}

.footer__brand {
    display: flex;
    justify-content: space-between;
    column-gap: 6px;
}

.footer__name {
    font-weight: 500;
    font-size: 1.875rem;
    text-align: center;
    padding-left: 10px;
    color: #fff4e9;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

/* footer.js - end */

/* actions - on:hover , etc */
body .works__dropdown-btn:hover,
.works__dropdown-content a:hover,
.header__about:hover {
    color: #af42ae;
    stroke: #af42ae;
}

.works__dropdown-btn > .svg-hover-purple-stroke,
.header__about > svg .svg-hover-purple-stroke {
    stroke: #1c1f33;
}

.works__dropdown-btn:hover > .svg-hover-purple-stroke,
.header__about:hover > svg .svg-hover-purple-stroke {
    stroke: #af42ae;
}

.works__dropdown-btn > .svg-hover-purple-fill > path {
    fill: #1c1f33;
}

.works__dropdown-btn:hover > .svg-hover-purple-fill > path {
    fill: #af42ae;
}

body .contact__email-btn:hover,
.button__purple:hover {
    background: #8c358b;
}

body .contact__linkedin-btn:hover,
.contact__dropdown-btn:hover {
    background: #e6dcd2;
    transition: 0 0.1s ease-out;
}

body .footer__email:hover,
.footer__linkedin:hover {
    opacity: 80%;
}

.header__works:hover {
    opacity: 100%;
}

.header__works-bag:hover {
    fill: #8c358b;
}

/* actions - end */

/* @media queries */

@media screen and (max-width: 1200px) {
    body .header {
        padding-left: 50px;
        padding-right: 50px;
    }

    .intro__image {
        display: flex;
        height: auto;
        width: 500px;
        border-radius: 20px;
    }

    body .intro__home {
        align-items: center;
        flex-direction: column;
        padding: 100px 30px 30px 30px;
        gap: 50px;
    }

    .intro__heading {
        width: 100%;
    }

    .intro__text {
        font-weight: 500;
        font-size: 1.25rem;
        display: flex;
    }
}

@media screen and (max-width: 1040px) {
    body {
        background: #fff4e9;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        color: #1c1f33;
    }

    h1 {
        font-weight: 700;
        font-size: 3.25rem;
        line-height: 1;
        color: #af42ae;
    }

    h2 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.2;
        text-align: center;
        color: #af42ae;
    }

    h3 {
        font-weight: 600;
        font-size: 2.75rem;
        line-height: 1.2;
        text-align: center;
        color: #af42ae;
    }

    /* All <body class="project"/> on all project pages */
    body.project section,
    .project__column {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    body.project .intro {
        display: flex;
        flex-direction: row;
        padding: 100px 30px 30px 30px;
        gap: 50px;
    }

    body .header {
        height: 75px;
        padding: 25px;
    }

    body .header__nav {
        display: none;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        border-bottom: 1px solid #1c1f33;
        border-radius: 0px 0px 20px 20px;
        background: #fff4e9;
        row-gap: 10px;
        top: 95%;
        /*position: relative; */
        z-index: 1;

        position: absolute;
        width: 100vh;
        min-width: 100vw;
        max-width: 100vw;
        left: 0;
        margin-left: 0;
        overflow-x: hidden;
    }

    .header__contact {
        flex-direction: column;
        width: 100%;
    }

    .contact__dropdown-btn,
    body.resume__btn {
        max-width: 100%;
        width: 100%;
        flex-grow: 1;
    }

    .works__dropdown-content {
        display: none;
        position: relative;
        z-index: 1;
        opacity: 100%;
        transition: 0.1s ease-out;
        background: #e6dcd2; /*#fff4e9;*/
        width: 100%;
        padding: 5px;
        padding-bottom: 10px;
        gap: 20px;
        border-radius: 10px;
        border-color: #000000;
    }

    .works__dropdown-link {
        text-align: center;
    }

    .contact__dropdown-content {
        display: block;
        width: 100%;
        position: relative;
        align-content: center;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        z-index: 1;
        background: #fff4e9;
        border: 1px solid #af42ae;
        border-top: 0px;
        border-radius: 0px 0px 20px 20px;
        transition: all 0.1s ease-in-out;
    }

    .contact__list-item-middle,
    .contact__list-item-last {
        text-align: center;
    }

    .contact__text {
        font-weight: 500;
        font-size: 1.125rem;
    }

    .header__nav input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-left: auto;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 26px;
        height: 1.39px;
        margin-bottom: 5px;
        position: relative;
        background: #1c1f33;
        border: 1px solid #1c1f33;
        border-radius: 3px;
        z-index: 1;
        transition: all 100ms ease-in-out;
    }

    .x:nth-of-type(1) {
        transition: all 100ms ease-in-out;
        transform: rotate(45deg);
        transform-origin: top left;
        width: 24px;
    }

    .x:nth-of-type(2) {
        transition: all 100ms ease-in-out;
        transform-origin: center;
        opacity: 0%;
    }

    .x:nth-of-type(3) {
        transition: all 100ms ease-in-out;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        width: 24px;
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    /* index, works, about, contact pages */
    .recent-works {
        padding: 30px;
    }

    .recent-works__item {
        flex-direction: column;
        padding: 30px 30px;
        row-gap: 20px;
    }

    .reverse-order-mobile {
        order: -1;
    }

    .contact {
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .contact__btns {
        flex-direction: column;
        row-gap: 20px;
    }

    .values,
    .testimonial,
    .project-metrics__overview {
        padding: 30px 30px;
    }

    .testimonials {
        padding: 40px 30px;
    }

    .project__group,
    .project-metrics__overview,
    .project-brief__role,
    .problem__group {
        flex-direction: column;
    }

    .project__group {
        gap: 20px;
    }

    .project-brief__heading,
    .project-brief__role,
    .project-brief__role-item {
        align-items: flex-start;
        text-align: left;
    }

    .project-brief__heading {
        font-size: 1.125rem;
    }

    .project-metrics__title {
        font-size: 1.8rem;
    }

    .project-metrics__description {
        font-size: 1rem;
    }

    .row-half-size {
        max-width: 100%;
    }

    .phone-proto {
        /* TODO: Fix this, phone proto is too big on tablet */
    }
}

/* Mobile-size only */
@media screen and (max-width: 600px) {
    h1 {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1;
        color: #af42ae;
    }

    h2 {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 1.2;
        text-align: center;
        color: #af42ae;
    }

    h3 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        color: #af42ae;
    }

    body .header .header__name {
        font-size: 1.5rem;
    }
}
